html
    head
        title="Horaires de la partie d'id " + partie.id_partie
    body
        h1="Horaires de la partie d'id " + partie.id_partie

        table(align="center", border='1')
            thead
                tr
                    th datetime_debut_partie
                    th partie
                    th joueur1
                    th joueur2
            tbody
                tr
                    td #{partie.datetime_debut_partie}
                    td
                        a(href='http://localhost:3000/data/horaire/#{partie.id_partie}') http://localhost:3000/data/horaire/#{partie.id_partie}
                    td
                        a(href='http://localhost:3000/data/joueur/#{partie.id_joueur_1}') http://localhost:3000/data/joueur/#{partie.id_joueur_1}
                    td
                        a(href='http://localhost:3000/data/joueur/#{partie.id_joueur_2}') http://localhost:3000/data/joueur/#{partie.id_joueur_2}